.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  /* height: 40vmin; */
  pointer-events: none;
  height: 15vmax;
}

.App-body {
  background-color: #282c34;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Text-area{
  min-width:400px;
  min-height: 110px;
  resize: none
}
.App-link {
  color: #61dafb;
}
